<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Driver Information</h1>
		</div>

	</div>
	<!-- /.container -->
		<h1 th:text="#{app.create-user}">Create</h1>
	    <form action="#" th:action="@{/bunkdetails/create-bunk}" th:object="${bunkDetailsBean}" method="POST">
	      <table>
	    	<tr><td th:text="#{bunk.name}"></td>
	    	    <td>
	    	       <input type="text" th:field="*{bunkName}" />
	    	       <label th:if="${#fields.hasErrors('bunkName')}" th:text="#{error.}" th:class="'error'">Id Error</label>
	    	    </td>
	    	</tr>
	    	<tr><td th:text="#{bunk.address}"></td>
	    	    <td>
	    	      <input type="text" th:field="*{bunkAddress}" />
	    	      <label th:if="${#fields.hasErrors('bunkAddress')}" th:text="#{error.}" th:class="'error'">Name Error</label>
	    	    </td>
	    	</tr>
	    	<tr><td th:text="#{contact.number}"></td>
	    	    <td>
	    	      <input type="text" th:field="*{contactNumber}" />
	    	      <label th:if="${#fields.hasErrors('contactNumber')}" th:text="#{error.}" th:class="'error'">Name Error</label>
	    	    </td>
	    	</tr>
	    	<tr><td th:text="#{alternate.contact.number}"></td>
	    	    <td>
	    	       <input type="text" th:field="*{alternateContactNumber}" />
	    	       <label th:if="${#fields.hasErrors('alternateContactNumber')}" th:text="#{error.}" th:class="'error'">Id Error</label>
	    	    </td>
	    	</tr>
	    	<tr><td th:text="#{active}"></td>
	    	    <td>
	    	      <input type="text" th:field="*{active}" />
	    	      <label th:if="${#fields.hasErrors('active')}" th:text="#{error.}" th:class="'error'">Name Error</label>
	    	    </td>
	    	</tr>
	    	  	<tr><td th:text="#{description}"></td>
	    	    <td>
	    	       <input type="text" th:field="*{description}" />
	    	       <label th:if="${#fields.hasErrors('description')}" th:text="#{error.}" th:class="'error'">Id Error</label>
	    	    </td>
	    	</tr>
	    	<!-- <tr><td th:text="#{user.gender}"></td>
	    	   <td>
	    	       <input type="radio" th:field="*{gender}" value="Male"/><label th:text="#{user.gender.male}">M</label>
	    	       <input type="radio" th:field="*{gender}" value="Female"/><label th:text="#{user.gender.female}">F</label>
	    	       <label th:if="${#fields.hasErrors('gender')}" th:text="#{error.user.gender}" th:class="'error'">Gender Error</label>
	    	   </td>
	    	</tr>
	    	<tr><td th:text="#{user.married}+ '?'"></td>
	    	   <td>
	    	       <input type="checkbox" th:field="*{married}" />
	    	   </td>
	    	</tr>	    	
	    	<tr><td th:text="#{user.profile}"></td>
	    	   <td>
	    	       <select th:field="*{profile}">
	    	          <option th:each="profile : ${allProfiles}" th:value="${profile}" th:text="${profile}">Profile</option>
	    	       </select>
	    	   </td>
	    	</tr>	-->    		    	
	        <tr><td colspan="2">
	              <input type="submit" th:value="#{user.form.submit}"/> 
	              <input type="reset" th:value="#{user.form.reset}"/>
	            </td>
	        </tr> 
	      </table>  
	    </form>
	<script type="text/javascript"
		src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>